<section class="card">
    <!-- link to review-details page -->
    <a href="/review/{{id}}">
    <p>This is review-details {{title}}</p>
</a>
<!-- log corresponding username from User table -->
<a href="/api/users/{{userId}}">
<p> by: {{user.username}}</p>
</a>
<!-- log corresponding category name from Category table -->
<a href="/categories/{{category_id}}"
<p> category: {{category.category_name}}</p>
</a>
</section>
