<section class="container">
    <p>This is review.handlebars</p>
    <h3 class="review-title">{{review.title}}</h3>
    <p class="review-text">{{review.review_text}}</p>
    {{ log review}}
    <p class="review-author">Posted by {{review.user.username}}
{{ log review }}
    <p class="review-category">Category: {{review.category.category_name}}</p>

    </p>
</section>
<section>
    <h2>Comments made on this review:</h2>
    {{#each comments as |comment|}}
    <div class="comment">
        <p class="comment-text">{{comment.comment_text}}</p>
        <p class="comment-author">Posted by {{comment.user.username}}</p>
    </div>
    {{/each}}


</section>
<section>
    <h2>Add a comment</h2>
    <form action="/comments" method="POST" class="add-comment-form">
        <input type="hidden" name="postId" value="{{postId}}">
        <div>
            <label for="text"> Comment Text</label>
            <input type="text" name="comment_text" id="comment-text">
        </div>
        
        <button type="submit">Add Comment</button>
    </form>
</section>

<script src="/js/add-comment.js"></script>